:root{
  --color-1: #b4e4fd;
  --color-2: #b3e2ff;
  --color-3: #00a6ad;
  --color-4: #beb2d7;
}
*{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 0 auto;
  height: 100vh;
  max-width: 1600px;
}
h2, h3, h4{
  font-weight: 400;
  color: #383838;
}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: transparent;
}
main{
  display: flex;
  height: 30vh;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(163, 163, 163);
}
textarea{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100px;
  outline: none;
  border: none;
  resize: none;
  background-color: white;
  font-size: 14px;
  padding: 10px;
}
button{
  width: 100%;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 6px -1px black;
  background-color: white;
}
button:hover{
  background-color: gray;
}
button#add{
  background-color: #3566CF;
  color: white;
  height: 100%;
  max-height: 40px;
}
button#add:hover{
  background-color: #457ffd;
}
.history{
  background-color: #F3F3F3;
  display: block;
  padding: 0;
  position: relative;
  border-left: 1px solid #3E75FF;
}
.history .box{
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 55px;
}
.history .fixed{
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0;
  display: flex;
  gap: 10px;
}
.history #submit{
  background-color: rgb(47, 100, 47);
  color: white;
}
.history #submit:hover{
  background-color: rgb(61, 139, 61);
}
.history h2{
  margin-top: 2px;
  margin-bottom: 8px;
  font-size: 24px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: fit-content;
  font-size: 11px;
}
.cards > h3{
  margin: 20px auto;
  color: gray;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #BABABA;
  flex-grow: 1;
  gap: 5px;
  min-width: 160px;
  max-width: 300px;
  width: min-content;
}
.card > h3{
  margin: 5px 0 0 0;
  color: black;
  font-size: 14px;
}
.card:hover,
.card:focus{
  border-color: #3E75FF;
}
.card > div{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  line-height: 1.5em;
}
.card > button{
  background-color: #E4E4E4;
  margin-top: auto;
  font-size: 11px;
  height: 25px;
  box-shadow: 0px 0px 3px -1px black;
}
.card > button:hover{
  background-color: white;
}
.slider{
  background-color: #F3F3F3;
  height: 70vh;
  gap: 10px;
  position: relative;
  padding: 15px 0;
}
.slider h4.left{
  position: absolute;
  top: 10vh;
  left: 30%;
}
.slider h4.right{
  position: absolute;
  top: 10vh;
  right: 30%;
}
.slider h4{
  text-transform: capitalize;
  margin: 10px;
}
.slider img{
  position: absolute;
  top: 30vh;
  border-radius: 50%;
  width: fit-content;
  background-color: #fff;
  border: 1px solid gray;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 4px -1px black;
}
.slider img:hover{
  background-color: #e4e4e4;
}
.slider img.right{
  right: 5vw;
}
.slider img.left{
  left: 5vw;
}
.svg_box{
  overflow: hidden;
}
svg{
  display: none;
  height: 100%;
  width: 100%;
}
svg.show{
  display: block;
}
.dots{
  padding-top: 10px;
}
.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.on{
  background-color: #6582B7;
}
rect.add, path.add, polygon.add{
  fill: #4EA768;
}
rect.on, path.on, polygon.on{
  fill: #5D85CA;
}


#show_cards, #close{
  display: none;
}

@media (max-width: 700px) {
  .history{
    display: none;
  }
  .history.show{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    top: 0;
    left: 0;
    border: none;
  }
  textarea{
    padding: 0;
  }
  button{
    font-size: 12px;
  }
  #show_cards{
    display: block;
    color: #3566CF;
    box-shadow: none;
  }
  #close{
    display: block;
    background-color: #D73836;
    color: white;
  }
  .slider h4.left{
    top: 4vh;
    left: 10%;
  }
  .slider h4.right{
    top: 4vh;
    right: 10%;
  }
  .slider .svg_box{
    margin-top: 20px;
  }
  .slider .title{
    display: none;
  }
  .slider img{
    width: 38px;
    height: 38px;
    padding: 5px;
  }
  .cards{
    flex-direction: column;
    font-size: 10px;
  }
  .card{
    max-width: none;
    width: 100%;
  }
  .cards h3{
    font-size: 12px;
  }
}
@media (hover: hover) {
  rect:hover, path:hover, polygon:hover{
    fill: #707070;
  }
}