:root{
  --color-1: #b4e4fd;
  --color-2: #b3e2ff;
  --color-3: #00a6ad;
  --color-4: #beb2d7;
}
*{
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
}
body > *{
  width: 50%;
}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: transparent;
}
main{
  display: flex;
  flex-direction: column;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50%;
  width: 100%;
  padding: 20px 30px;
  background-color: var(--color-1);
}
textarea{
  width: 100%;
  height: 100%;
  min-height: 300px;
  resize: none;
}
.cards{
  background-color: var(--color-2);
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 10px;
  width: 96%;
  box-shadow: inset 0px 0px 3px 0px;
  border-radius: 5px;
}
.card{
  background-color: var(--color-3);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -1px;
  min-width: 200px;

}
.card > div{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.5em;
  line-height: 1.5em;
}
.history{
  background-color: var(--color-4);
}
svg{
  height: 96vh;
}
rect:hover, path:hover,
rect.on, path.on{
  fill: blue;
}

@media (max-width: 700px) {
  body{
    flex-direction: column-reverse;
    height: fit-content;
  }
  body > *{
    width: 100%;
  }
}